<style>
  .custom-card-header {
    background-color: #3388ff;
    color: white;
  }

  table {
    border-collapse: collapse
  }

  th, td {
    padding: 15px;
    border: 1px solid;
  }

  thead{
    background-color: dodgerblue;
  }
</style>

<div class="card">
  <form action="">
    <div class="card-header custom-card-header">
      Generar Reporte y/o Informe de Acompañamiento Socioambiental
    </div>
    <div class="card-body">

      <div class="row mt-3">
        <div class="col-md-12"><h2><strong>INFORME SOCIOAMBIENTAL</strong></h2></div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <label for="in_nroDocumento"><strong>Nº DOCUMENTO</strong></label>
        </div>
        <div class="col-md-3">
          <input type="text" name="in_nroDocumento" class="form-control">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12"><strong>DESTINO</strong></div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
            <label for="in_nombre" class="form-label"><strong>NOMBRE</strong></label>
        </div>
        <div class="col-md-4">
          <input type="text" name="in_nombre" class="form-control">
        </div>
        <div class="col-md-2">
          <label for="in_cargo" class="form-label"><strong>CARGO</strong></label>
        </div>
        <div class="col-md-4">
          <input type="text" name="in_cargo" class="form-control">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="in_asunto" class="form-label"><strong>ASUNTO</strong></label>
          <input name="in_asunto" class="form-control">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="in_asunto" class="form-label"><strong>REFERENCIA</strong></label>
          <input name="in_asunto" class="form-control">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_antecedentes" class="form-label"><strong>1. ANTECEDENTES</strong></label>
          <textarea formControlName="ta_antecedentes" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12"><strong>2. INFORMACIÓN GENERAL</strong></div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_caracteristicas" class="form-label"><strong>2.1. Características</strong></label>
          <textarea formControlName="ta_caracteristicas" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_probSocioamb" class="form-label"><strong>2.2. Problemáticas Socioambientales</strong></label>
          <textarea formControlName="ta_probSocioamb" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_sitSocPol" class="form-label"><strong>2.3. Situación Sociopolítica</strong></label>
          <textarea formControlName="ta_sitSocPol" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12"><strong>3. ACCIONES EJECUTADAS</strong></div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_coordinaciones" class="form-label"><strong>3.1. Coordinaciones</strong></label>
          <textarea formControlName="ta_coordinaciones" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_ejeAcompSocioamb" class="form-label"><strong>3.2. Ejecución de acompañamiento socioambiental</strong></label>
          <textarea formControlName="ta_ejeAcompSocioamb" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_conclusiones" class="form-label"><strong>4. CONCLUSIONES</strong></label>
          <textarea formControlName="ta_conclusiones" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_recomendaciones" class="form-label"><strong>5. RECOMENDACIONES</strong></label>
          <textarea formControlName="ta_recomendaciones" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <label for="ta_anexos" class="form-label"><strong>6. ANEXOS</strong></label>
          <textarea formControlName="ta_anexos" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <p>Relación de documentos adjuntos al reporte:</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4" style="display: flex; justify-content: end;">
          <button class="btn btn btn-primary">Documento</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <th>Nombre del documento</th>
                <th>Archivo</th>
              </thead>
              <tbody>
                <td>Nombre</td>
                <td>Icono</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6" style="text-align: end;">
          <button class="btn btn btn-primary me-3">Generar Documento</button>
        </div>
        <div class="col-md-6" style="text-align: start;">
          <button class="btn btn btn-primary me-3">Adjuntar Documento</button>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12" style="display: flex; justify-content: end;">
          <button class="btn btn btn-primary me-3">Cancelar</button>
          <button class="btn btn btn-primary me-3">Guardar</button>
          <button class="btn btn btn-primary">Siguiente</button>
        </div>
      </div>

    </div>
  </form>

</div>
