<br>
<br>
<div class="row">
    <div class="col-md-12">
        <h3 style="font-weight: 700;">Entidades Publicas y/o Privadas </h3>
    </div>
</div>
<br>
<br>
<form >
<div class="row">
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="">RUC</label>
        </div>
        <div class="col-md-5">
            <input type="text" formGroupName="ruc" class="form-control" placeholder="Ingrese ruc">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="">Razon Social</label>
        </div>
        <div class="col-md-5">
            <input type="text" formGroupName="razonsocial" class="form-control" placeholder="">
        </div>
    </div>
    
  </div>
  <div class="row mb-3">
    <div class="col-md-2"><label for="asunto" class="form-label">Asunto</label></div>
    <div class="col-md-8">
      <div class="input-group">
        <textarea class="form-control" id="asunto" rows="2"></textarea>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2"><label for="descrpcion" class="form-label">Descrpción</label></div>
    <div class="col-md-8">
      <div class="input-group">
        <textarea class="form-control" id="descrpcion" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2"><label for="escenariosocial" class="form-label">Escenario Social</label></div>
    <div class="col-md-8">
      <div class="input-group">
        <textarea class="form-control" id="escenariosocial" rows="4"></textarea>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="">Conflicto Social asociado</label>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" placeholder="" aria-label=".form-control-sm example" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-4"><label for="">Motivo</label></div>
            <div class="col-md-6"><label for="" style="font-size: 9px;font-style: italic;">* Si en caso no aprueba el responsable</label></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <textarea class="form-control" id="escenariosocial" rows="3"></textarea>
                  </div>
            </div>
        </div>
    </div>
  </div>
</form>
  <div class="row">
    <div class="col-md-12 text-end">
      <button class="btn btn btn-primary">Regresar</button> &nbsp;&nbsp;&nbsp;
      <button class="btn btn btn-primary"
        >Registrar</button>
  
    </div>
  </div>


