<div class="row mt-4">
  <div class="col-md-12">
    <label class="form-label"><strong>INFOGRAFIA</strong></label>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <label class="form-label"><strong>1.MESAS DE DIALOGO EN LA REGION</strong></label>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <th>Nº</th>
          <th>Nombre del espacio</th>
          <th>Descripción de la problemática</th>
          <th><i class="fa-solid fa-trash"></i></th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dialogo 1</td>
            <td>Contaminacion ambiental</td>
            <td>
              <button class="btn btn-danger" style="color:white">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <button class="btn btn-primary">Agregar Mesa de Diálogo</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>3.ACCIONES RELEVANTES DEL OEFA EN LA REGIÓN</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>4.SITUACIÓN SOCIO POLÍTICA RELEVANTE</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-3 label">
  <div class="col-md-2">
    <label><strong>DOCUMENTOS</strong></label>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary">Adjuntar Documento</button>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6" style="text-align: end;">
    <button class="btn btn-primary me-3">Generar Documento</button>
  </div>
  <div class="col-md-6" style="text-align: start;">
    <button class="btn btn-primary me-3">Adjuntar Documento</button>
  </div>
</div>
