<div class="card">

  <div class="card-header custom-card-header">
    Generar Acta de Participación
  </div>

  <div class="card-body">

    <div class="row mt-3 label">
      <div class="col-md-2">
        <label for="in_fecha" class="form-label"><strong>FECHA</strong></label>
      </div>
      <div class="col-md-2">
        <input type="date" name="in_fecha" class="form-control">
      </div>
    </div>

    <div class="row mt-3 label">
      <div class="col-md-2">
        <label for="in_lugar" class="form-label"><strong>LUGAR</strong></label>
      </div>
      <div class="col-md-6">
        <input type="text" id="in_lugar" class="form-control">
      </div>
    </div>

    <div class="row mt-3 label">
      <div class="col-md-2">
        <label for="in_horaInicio" class="form-label"><strong>HORA INICIO</strong></label>
      </div>
      <div class="col-md-2">
        <input type="text" name="in_fechaInicio" class="form-control">
      </div>
      <div class="col-md-2">
        <label for="in_horaFin" class="form-label"><strong>HORA FIN</strong></label>
      </div>
      <div class="col-md-2">
        <input type="text" name="in_fechaFin" class="form-control">
      </div>
    </div>

    <div class="row mt-3 label">
      <div class="col-md-2">
        <label for="in_lugar" class="form-label"><strong>ASUNTO</strong></label>
      </div>
      <div class="col-md-10">
        <input type="text" id="in_lugar" class="form-control">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <label for="ta_Descripcion" class="form-label"><strong>AGENDA Y DESARROLLO DE LA REUNIÓN</strong></label>
        <textarea class="form-control" rows="6"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label for="ta_Descripcion" class="form-label"><strong>ACUERDOS</strong></label>
        <textarea class="form-control" rows="6"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label for="ta_Descripcion" class="form-label"><strong>OBSERVACIONES</strong></label>
        <textarea class="form-control" rows="6"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6" style="text-align: end;">
        <button class="btn btn-primary me-3">Generar Documento</button>
      </div>
      <div class="col-md-6" style="text-align: start;">
        <button class="btn btn-primary me-3">Adjuntar Documento</button>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12" style="display: flex; justify-content: end;">
        <button class="btn btn-primary me-3">Cancelar</button>
        <button class="btn btn-primary me-3">Guardar</button>
        <button class="btn btn-primary">Siguiente</button>
      </div>
    </div>

  </div>
</div>

