<div class="row mt-5">
  <div class="col-md-12">
    <label class="form-label"><strong>ANEXO Nº2: PLAN DE MONITOREO AMBIENTAL CON PARTICIPACIÓN CIUDADANA</strong></label>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <img src="../../../../assets/images/eac_anexo2.jpg" alt="Anexo 1">
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6" style="text-align: end;">
    <a href="../../../../assets/anexos/Anexo2-DocumentoEAC.pdf" class="btn btn-primary me-3" target="_blank" download="Anexo2-DocumentoEAC.pdf">Descargar Formato</a>
  </div>
  <div class="col-md-6" style="text-align: start;">
    <button class="btn btn-primary me-3">Adjuntar Documento</button>
  </div>
</div>
