<div class="card registrar-invitacion">
  <div class="card-header custom-card-header">
    Registrar Datos de la Invitación
  </div>

  <div class="card-body">
    <div class="row mt-2 label">
      <div class="col-md-2">
        <label for="in_fecha" class="form-label">Fecha</label>
      </div>
      <div class="col-md-2">
        <input type="date" name="in_fecha" class="form-control">
      </div>
    </div>

    <div class="row mt-2 label">
      <div class="col-md-2">
        <label for="in_administrado" class="form-label">Administrado</label>
      </div>
      <div class="col-md-6">
        <input type="text" name="in_administrado" class="form-control">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary">Buscar Administrados</button>
      </div>
    </div>

    <div class="row mt-2 label">
      <div class="col-md-2">
        <label for="in_especialista" class="form-label">Especialista</label>
      </div>
      <div class="col-md-6">
        <input type="text" name="in_especialista" class="form-control">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary">Buscar Especialista</button>
      </div>
    </div>

    <div class="row mt-2 label">
      <div class="col-md-2">
        <label for="sel_Departamento" class="form-label">Departamento</label>
      </div>
      <div class="col-md-2">
        <select class="form-select">
          <option selected>Seleccione</option>
          <option>Lima</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="sel_Provincia" class="form-label">Provincia</label>
      </div>
      <div class="col-md-2">
        <select class="form-select">
          <option selected>Seleccione</option>
          <option></option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="sel_Distrito" class="form-label">Distrito</label>
      </div>
      <div class="col-md-2">
        <select class="form-select">
          <option selected>Seleccione</option>
          <option></option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label for="in_asunto" class="form-label">Asunto</label>
        <input name="in_asunto" class="form-control">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" rows="6"></textarea>
      </div>
    </div>

    <div class="row mt-3 label">
      <div class="col-md-2">
        <label class="form-label">Documentos</label>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary">Adjuntar Documento/Correo</button>
      </div>
    </div>

    <div class="row mt-3 label">
      <div class="col-md-4">
        <div class="row mt-3">
          <label class="form-label"><strong>¿Es un espacio de diálogo nuevo?</strong></label>
        </div>
        <div class="mt-3 ms-5">
          <input name="r_DialogoNuevo" type="radio" class="ms-5"><label class="form-label">Si</label>
          <input name="r_DialogoNuevo" type="radio" class="ms-5"><label class="form-label">No</label>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary">Buscar</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12" style="display: flex; justify-content: end;">
        <button class="btn btn-primary m-2">Cancelar</button>
        <button class="btn btn-primary m-2">Guardar</button>
        <button class="btn btn-primary m-2" (click)="siguiente()">Siguiente</button>
      </div>
    </div>

  </div>
</div>
