<div class="row mt-4">
  <div class="col-md-12">
    <label class="form-label"><strong>AYUDA DE MEMORIA</strong></label>
  </div>
</div>

<div class="row mt-2 label">
  <div class="col-md-2">
    <label for="in_fecha" class="form-label">Fecha</label>
  </div>
  <div class="col-md-2">
    <input type="date" name="in_fecha" class="form-control">
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label for="in_asunto" class="form-label">Asunto</label>
    <input name="in_asunto" class="form-control">
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>1.ANTECEDENTES</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label">1.1 Situación Inicial</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label">1.2 Situación Actual</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>2.ACCIONES DE LA DIRECCION DE EVALUACION AMBIENTAL</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>3.ACCIONES DE SUPERVISION Y FISCALIZACION AMBIENTAL</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label">3.2 Dictado de medidas administrativas</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>4.ESTADO SITUACIONAL DEL ESPACIO DE DIALOGO</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <label class="form-label"><strong>5.RECOMENDACIONES</strong></label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6" style="text-align: end;">
    <button class="btn btn-primary me-3">Generar Documento</button>
  </div>
  <div class="col-md-6" style="text-align: start;">
    <button class="btn btn-primary me-3">Adjuntar Documento</button>
  </div>
</div>
