.pertinencia-participacion {
  .custom-card-header {
    background-color: #3388ff;
    color: white;
  }

  .table {
    vertical-align: middle;
  }
}

th,
td {
  padding: 0.25rem;
  border-bottom: groove;
}

.label {
  align-items: baseline;
}
