<div class="card">

  <div class="card-header custom-card-header">
    Generar Documentos con la Información Sustentatoria para el Espacio de Diálogo
  </div>

  <div class="card-body">

    <div class="row mt-3">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngFor="let tab of tabsArray; let sr = index" (click)="setTab(sr)">
            <button class="nav-link" [ngClass]="activatedTab == sr ? 'active' :''" type="button">{{ tab }}</button>
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <div>
          <div *ngIf="activatedTab==0" class="tab-pane">
            <app-ayuda-memoria></app-ayuda-memoria>
          </div>
          <div *ngIf="activatedTab==1" class="tab-pane">
            <app-infografia></app-infografia>
          </div>
          <div *ngIf="activatedTab==2" class="tab-pane">
            <app-guia-participacion></app-guia-participacion>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="col-md-12" style="display: flex; justify-content: end;">
        <button class="btn btn-primary me-3">Cancelar</button>
        <button class="btn btn-primary me-3">Guardar</button>
        <button class="btn btn-primary" (click)="siguiente()">Siguiente</button>
      </div>
    </div>

  </div>
</div>
