<style>
  img {
    width: 100%;
  }
</style>

<div class="row mt-5">
  <div class="col-md-12">
    <label class="form-label"><strong>ANEXO Nº1: FICHA SOCIAL DE EVALUACIÓN AMBIENTAL</strong></label>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <img src="../../../../assets/images/eat_anexo1.jpg" alt="Anexo 1">
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6" style="text-align: end;">
    <button class="btn btn btn-primary me-3">Generar Documento</button>
  </div>
  <div class="col-md-6" style="text-align: start;">
    <button class="btn btn btn-primary me-3">Adjuntar Documento</button>
  </div>
</div>
