<br>
<br>
<div class="row">
    <div class="col-md-12">
      <h3 style="font-weight: 700;">Monitoreo de medios </h3>
    </div>
  </div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-2"><label for="" class="form-label">fecha</label></div>
            <div class="col-md-5"><input type="date" formGroupName="fregistro" class="form-control"> </div>
        
          </div>
          <div class="row mb-3">
            <div class="col-md-2"><label for="titulo" class="form-label">Titulo</label></div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" id="titulo" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-2"><label for="fuente" class="form-label">Fuentes</label></div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" id="fuente" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-2"><label for="link" class="form-label">Link URL</label></div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" id="link" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-2"><label for="resumen" class="form-label">Resumen</label></div>
            <div class="col-md-8">
              <div class="input-group">
                <textarea class="form-control" id="resumen" rows="4"></textarea>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <h6>ESPACIO DE DIALOGO</h6>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-2"><label for="link" class="form-label">Conflicto Social asociado</label></div>
            <div class="col-md-8">
              <input type="search" class="form-control" placeholder="Buscar" />
        
        
            </div>
          </div>
      </div>
    
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/13D16/production/_98747118_gettyimages-841388306.jpg"
            class="rounded mx-auto d-block img-fluid" style="width: 350px;
    height: 300px;" alt="">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">Motivo:</div>
            <div class="col-md-6" style="font-size:10px">* Si en caso no aprueba el responsable</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <textarea class="form-control" id="motivo" rows="3"></textarea>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
</div>



<div class="row">
  <div class="col-md-12 text-end">
    <button class="btn btn btn-primary" >Regresar</button> &nbsp;&nbsp;&nbsp;
    <button class="btn btn btn-primary">Registrar</button> 
    
  </div>
</div>

