<style>
  .custom-card-header {
background-color: #3388ff; /* Cambia el color al que desees */
color: white; /* Cambia el color del texto si es necesario */
}

  
</style>
<div class="row mb-3">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header custom-card-header">
    Datos estadisticos
  </div>
    </div>
  </div></div>
  <c-row>    
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Gráfico en barras
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Gráfico en Linea
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartLineData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Doughnut Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Polar Area Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="polarArea" [data]="chartPolarAreaData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
